<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'ViralScreener/CSS/bootstrap.min.css' %}">

    <title>ViralScreener</title>
  </head>
  <body>
  {% include "ViralScreener/Components/navbar.html" %}
  {% include "ViralScreener/Components/alert.html"%}
  <div class="col">
    {% block content %}{% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'ViralScreener/JS/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'ViralScreener/JS/bootstrap.bundle.min.js'%}"></script>
  </body>
</html>